#lose{
    display: none;
    text-align: center;
}
#win{
    text-align: center;
    display: none;
}
.nine{
    text-align: center;
}
.nine>img{
    width: 80px;
    margin-top: 20px;
}
#finalWord{
    display: none;
}
#check{
    margin-bottom: 15px;
}
