@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');

*{
    font-family: "Alumni Sans SC", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(53, 52, 52);
}